<div class="jumbotron">
    <h1>Administrador de Multiples Bases de Datos</h1>
    <p class="lead">En las opciones de cabecera de página se encuentran las diferentes acciones que realizar para crear, agregar o modificar bases de datos</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Integrantes</h2>
        <p>Bryan Jimenez    | Carné: 201411475</p>
        <p>Ricardo Leon    | Carné: 201265049</p>
        <p>Goevanny Astorga | Carné: 200951175</p>
        
    </div>
    <div class="col-md-4">
        <h2>Información del Proyecto</h2>
        <p>Curso: Bases De Datos II</p>
        <p>Profesor: Erick Hernandez</p>
        <p>Semestre I 2016</p>
        <p>Proyecto Programado #1</p>
    </div>
    <div class="col-md-4">
        <h2></h2>
    </div>
</div>
