
@{
    ViewBag.Title = "Create Table";
}

<h2>Crear Tabla</h2>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery.serializejson.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.13.0.js"></script>

    <script src="~/Scripts/jquery.serializejson.js"></script>

    <script src="~/Scripts/jquery.tabletojson.js"></script>
    <script src="~/Scripts/jquery.serializeanything.js"></script>
    <script src="~/Scripts/jquery.serializeObject.js"></script>
    <script type="text/javascript">

            $(document).ready(function () {


                    /*
                    $form: jquery object del form
                    */


                    $("#AgregarColumna").click(function (e) {
                        $.ajax({

                            type: 'POST',
                            url: "/listDatabases/GetProducts",
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                var items = '';
                                var combo = '';
                                $.each(data, function (i, item) {
                                    // <input name="server" id="server" type="text" placeholder="Server" />
                                    combo = combo + "<option value='" + item.alias + "'>" + item.alias + "</option>"


                                });
                                var rows ="<p>"+ "<select name='databases' id='databases'>" + combo +  "</select>" 
                                    + "<input name='nombre' id='nombre' type='text' placeholder='Nombre Columna' />"
                                    +
                                           " <select name='data_type' id='data_type'>" +
                                                "<option value='Int' selected='selected'>Int</option>" +
                                                "<option value='Double'>Double</option>" +
                                                "<option value='String'>String</option>" +
                                           " </select>"+
                                           " <select name='permiteNull' id='permiteNull' selected='selected'>" +
                                                "<option value='True'>True</option>" +
                                                "<option value='False'>False</option>" +
                                           " </select>"
                                    + "</p>";
                                console.log(rows);
                                $('#bases').append(rows);
                                

                            },
                            error: function (ex) {
                                var r = jQuery.parseJSON(response.responseText);
                                alert("Message: " + r.Message);
                                alert("StackTrace: " + r.StackTrace);
                                alert("ExceptionType: " + r.ExceptionType);
                            }
                            
                        });

                        //return false;
           
                    });

                    $("#GuardarConexion").click(function (e) {

                        //  e.preventDefault(); //Prevent the normal submission action

                        jQuery.noConflict();
                        var table = $('#DatosBase').serializeArray(); // Convert the table into a javascript object
                       
                        console.log(table);
                        alert(JSON.stringify(table));
                        //------------------------------------------
                        var data = $("#DatosBase").serialize().split("&");
                        var table_name = $("#nombre_tabla").serialize().split("&");
                        console.log(data);
                        var repeticiones = 0;
                        var posicion = 0;
                        var nom = {};
                        nom[table_name[0].split("=")[0]] = table_name[0].split("=")[1];
                        var obj = {};
                        var json = JSON.stringify(nom).replace("}","")  + ",\"Columnas\":[";
                        while (repeticiones < data.length/4) {
                            
                            obj[data[posicion].split("=")[0]] = data[posicion].split("=")[1];
                            obj[data[posicion + 1].split("=")[0]] = data[posicion + 1].split("=")[1];
                            obj[data[posicion + 2].split("=")[0]] = data[posicion + 2].split("=")[1];
                            obj[data[posicion + 3].split("=")[0]] = data[posicion + 3].split("=")[1];
                            posicion += 4;
                            console.log(obj);
                            if (repeticiones < (data.length / 4)-1) {
                                json += JSON.stringify(obj) + ",";
                            } else { json += JSON.stringify(obj) }
                            repeticiones++;
                        }

                        json += "]}";
                        console.log(json);

                        $.ajax({

                            url: "/createTable/Create",
                            type: 'POST',
                            data: json,
                            contentType: "application/json; charset=utf-8",
                            datatype: "json",
                            error: function (response) {
                               // alert(response.responseText);

                            },
                            success: function (response) {
                                alert(response);
                                if (response == "Database successfully connected") {
                                    var pagina = "http://localhost:57111/createTable"
                                    location.href = pagina
                                }
                            }
                        });
                
                    });
                });
        
    </script>
</head>
<body style="font-family:Arial; font-size:10pt">
    

    <h4>Nombre de la Tabla</h4>

        <div id="division">
        <input name='nombre_tabla' id='nombre_tabla' type='text' placeholder='Nombre Tabla' />
        </div>
        <h4>Parametros</h4>
        <form id="DatosBase" name="DatosBase">
            <div id="bases">

            </div>

            <p>
                <input id="GuardarConexion" name="GuardarConexion" type="button" value="Guardar Datos" />
                <input id="AgregarColumna" name="AgregarColumna" type="button" value="Agregar Columna" />
            </p>
        </form>
    <script src="~/Scripts/jquery.tabletojson.js"></script>
</body>
</html>
