
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery.serializejson.js"></script>


    <script type="text/javascript">


        $(document).ready(function () {
            $("#GuardarConexion").click(function (e) {
            $.ajax({

                type: 'POST',

                url: "/listDatabases/GetProducts",
                dataType: 'json',
                data: {},
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {

                        var rows = "<tr>"
                        + "<td class='prtoducttd'>" + item.database_type + "</td>"
                        + "<td class='prtoducttd'>" + item.alias + "</td>"

                        + "</tr>";
                        console.log(rows);
                        $('#bases').append(rows);
                    });


                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });

            return false;
        });
        });

    </script>
</head>
<body style="font-family:Arial; font-size:10pt">
    <form id="DatosBase" name="DatosBase">
        
        <input id="GuardarConexion" name="GuardarConexion" type="button" value="Listar Bases" />
        <p>
            <input name="base" id="base" type="text" placeholder="Base de Datos" />
        </p>
        <p>
            <input name="tabla" id="tabla" type="text" placeholder="Tabla" />
        </p>
        <p>
            <input name="query" id="query" type="text" placeholder="Query" />
        </p>
        <p>
            <input id="Consultar" name="Consultar" type="button" value="Consultar" />
        </p>
    </form>
</body>
</html>
